<div class="container">

  <!-- ADMIN MENU -->
  <div class="col-md-4">
    <div class="well">
      <%= render 'layouts/admin_menu' %>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="col-md-8">
    <div class="well">
      <%= render 'form' %>
    </div>

    <!-- <center>
      <%= link_to 'Delete Content', @content, method: :delete, data: { confirm: 'Are you sure you want to delete this content?' } %>
    </center> -->

  </div>

</div>
