<!-- ADMIN HEADER -->
<div class="container-fluid basic-header">
  <div class="row">

    <div class="admin_close">
			<a href="/views">&times;</a>
		</div>

    <div class="text-center">
        <%=link_to image_tag('admin-logo.png', class:"basic-brand"), controller: "views" %>
    </div>
  </div>
</div>

<div class="container">

  <div class="section-title">
    add a drum
  </div>
  <hr>

  <div class="well">
    <%= render 'form' %>
  </div>

</div>
