


<div class="container">

  <!-- ADMIN MENU -->
  <div class="col-md-4">
    <div class="well">
      <%= render 'layouts/admin_menu' %>
    </div>
  </div>


  <!-- CONTENT -->
  <div class="col-md-8">
    <div class="well">

      <h2>Welcome</h2>
      <hr>

      Hello world

    </div>
  </div>

</div>
