<div class="container">

  <div class="row">
    <div class="col-md-8">

      <div class="well">

        <h2>Contact Truth Custom Drums</h2>
        <hr>

        <p class="p-label">
          Your Name:
          <input type="text" class="form-control" aria-describedby="sizing-addon1">
        </p>

        <p class="p-label">
          Your Email
          <input type="text" class="form-control" aria-describedby="sizing-addon1">
        </p>

        <p class="p-label">
          Message
          <textarea class="form-control" rows="5" id="message"></textarea><br>
        </p>

        <p><a class="btn-inverse btn-primary btn-sm" href="#" role="button">send</a></p>

      </div>

    </div>

    <div class="col-md-4">

      <div class="well">

      <p>Hours of Operation</p>
        <p class="p-text">
          Monday - Friday 8 AM - 5 PM PST
        </p>

        <hr>

        <p>Shop Address</p>
        <p class="p-text">
          Truth Custom Drums<br>
          8054 SW Nimbus Ave. 6-H<br>
          Beaverton, OR 97008</p>
        </p>

        <hr>

        <p><a href="tel:503-641-4050">(503)-641-4050</a></p>
        <p><a href="mailto:info@truthdrums.com">info@truthdrums.com</a></p>

        <hr>

        <p>Download pricing info <a href="http://www.truthdrums.com/pricing.pdf">here</a></p>

      </div>

    </div>

  </div>
</div>
