<div class="container-fluid">
  <div class="row footer">

    <%=link_to image_tag('btn-inst.jpg', class:"footer-social"), "https://www.instagram.com/truthcustomdrums/" %>
    <%=link_to image_tag('btn-twt.jpg', class:"footer-social"), "https://twitter.com/TRUTHCSTMDRUMS" %>
    <%=link_to image_tag('btn-fb.jpg', class:"footer-social"), "https://www.facebook.com/TruthCustomDrums" %>

    <div class="footer-links">
      <a href="contact.html">contact</a><span class="space"></span><a href="terms.html">terms &amp; conditions</a><span class="space"></span><a href="returns.html">returns</a><span class="space"></span><a href="support.html">support</a>
    </div>

    <div class="footer-copy">&copy; 2016 Truth Custom Drums</div>

  </div>
</div>
