<div class="text-center">
    <%=link_to image_tag('admin-logo.png', class:"brand"), :controller => :views, :action => :admin %>
</div>


<!-- MAIN CARD BODY -->

<div class="container">

  <div class="well">

    <h2>Admin Panel</h2>
    <hr>

    <p class="p-label">Add a drum to the gallery</p>
    <%= link_to 'add drum', new_drum_path(@drum), class:"btn-inverse btn-primary btn-sm" %>
    <br>
    <hr>
    <p class="p-label">Create an artist profile</p>
    <%= link_to 'add artist', new_artist_path(@artist), class:"btn-inverse btn-primary btn-sm" %>
    <br>

  </div>
  <center>
    <%= link_to "EXIT", controller: "views" %>
  </center>

</div>
