

<!-- NAVIGATION -->


<%= render 'header' %>


<div class="container">

  <div class="section-title">
    design your truth custom kit or <a href="#">snare</a>
    <hr>
  </div>

</div>






<!-- FOOTER -->

<%= render 'footer' %>
