<!-- NAVIGATION -->
<%= render 'header' %>

<!-- HERO -->

<div class="jumbotron-about">
	<div class="hero-overlay">
		<div class="container hero-callout">
		  <span class="jumbo-head">making dreams come true since '92</span><br><br><br>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">watch the video</a></p>
		</div>
	</div>
</div>



<!-- MAIN CARD BODY -->

<div class="container">

	<div class="well">

		<h2>About Truth Custom Drums</h2>
		<hr>

		<p class="p-text">Star Trek: The Next Generation (often abbreviated as TNG and ST:TNG) is an <a href="">American</a> science fiction television series created by Gene Roddenberry, that began in 1987, twenty-one years after the original Star Trek series debuted in 1966, and ran until 1994. Roddenberry, Maurice Hurley, Rick Berman and Michael Piller served as executive producers at different times throughout the production.</p>

		<p class="p-text">The series involves a starship named Enterprise and is set in the nearby regions of the Milky Way galaxy. The first episode takes place in the year 2364, 100 years after the start of the five-year mission described in the original series, which began in 2264.[1] It features a new cast and a new starship Enterprise, the fifth to bear the name within the franchise's storyline. An introductory statement, performed by Patrick Stewart and featured at the beginning of each episode's title sequence, stated the starship's purpose in language similar to the opening statement of the original series, but was updated to reflect an ongoing mission, and to be gender-neutral:[1]</p>

		<p class="p-text">Space: the final frontier. These are the voyages of the starship Enterprise. Its continuing mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no one has gone before. TNG premiered the week of September 28, 1987, to 27 million viewers,[2] with the two-hour pilot "Encounter at Farpoint". In total, 176 episodes were made, ending with the two-hour finale "All Good Things..." the week of May 23, 1994.</p>

		<p class="p-text">The series (1987–94) was broadcast in first-run syndication with dates and times varying among individual television stations. Three additional Star Trek spin-offs followed The Next Generation: Star Trek: Deep Space Nine (1993–99), Star Trek: Voyager (1995–2001), and Star Trek: Enterprise (2001–2005). The series formed the basis for the seventh through to the tenth of the Star Trek films, and is also the setting of numerous novels, comic books, and video games.</p>


	</div>

</div>


<div class="container">

	<div class="section-title">
		our team
		<hr>
	</div>


	<div class="img-640">

		<a class="meta-hover"><img src="img/team-1.jpg" width="320" height="320">

			<div class="contenthover">
				<div class="hover-text-container">
					<div class="hover-text-head">Will Riker</div>
					<div class="hover-text-sub">first officer</div>
				</div>
			</div>
		</a>

	</div>

	<div class="img-640">

		<a class="meta-hover"><img src="img/team-2.jpg" width="320" height="320">

			<div class="contenthover">
				<div class="hover-text-container">
					<div class="hover-text-head">Commander Data</div>
					<div class="hover-text-sub">android</div>
				</div>
			</div>
		</a>

	</div>

	<div class="img-640">

		<a class="meta-hover"><img src="img/team-3.jpg" width="320" height="320">

			<div class="contenthover">
				<div class="hover-text-container">
					<div class="hover-text-head">Jean Luc Picard</div>
					<div class="hover-text-sub">captain</div>
				</div>
			</div>
		</a>

	</div>

</div>


<!-- FOOTER -->
<%= render 'footer' %>
