<!-- MOBILE HEADER -->
<div class="mobile-truth-nav" id="nav-toggle">
  <%= render 'views/m_header' %>
</div>

<!-- DESKTOP HEADER -->
<div class="jumbotron-header">
  <%= render 'views/header' %>
  <div class="jumbo-head">
    terms &amp; conditions
  </div>
</div>

<div class="container">
  <div class="well">
    <p>coming soon</p>
  </div>
</div>

<!-- FOOTER -->

<%= render 'footer' %>
