<h2>Admin</h2>
<hr>

<%= link_to 'Drums', drums_admin_path %><span class="glyphicon glyphicon-lock pull-right"></span>
<hr>

<%= link_to 'Artists', artists_admin_path %><span class="glyphicon glyphicon-lock pull-right"></span>
<hr>

<%= link_to 'Site Content', contents_path %><span class="glyphicon glyphicon-lock pull-right"></span>
