<div class="container-fluid basic-header">
  <div class="row">

    <div class="admin_close">
      <%= link_to "&times;".html_safe, root_path %>
		</div>

    <div class="text-center">
        <%=link_to image_tag('admin-logo.png', class:"basic-brand"), admin_path %>
    </div>
  </div>
</div>
