<div class="container-fluid basic-header">
  <div class="row">
    <div class="text-center">
        <%=link_to image_tag('m_logo.png', class:"basic-brand"), root_path %>
        <div class="edit-link"><%= link_to 'Edit', edit_drum_path(@drum) %></div>
    </div>
  </div>
</div>
